

.container{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.input, .button, h1, p, h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
